<div class="jumbotron">
<table class="tab"></table>
</div>
<div>
    <table>
        <tr>
            <td>
                <label for="title">Titel</label>
            </td>
            <td>
                <input type="text" id="title">
            </td>
        </tr>
        <tr>
            <td>
                <label for="year">Year</label>
            </td>
            <td>
                <input type="text" id="year">
            </td>
        </tr>
        <tr>
            <td>
                <label for="price">Price</label>
            </td>
            <td>
                <input type="text" id="price">
            </td>
        </tr>
        <tr>
            <td>
                <label for="genre">Genre</label>
            </td>
            <td>
                <input type="text" id="genre">
            </td>
        </tr>
        <tr>
            <td>
                <label for=" directorId">Director ID</label>
            </td>
            <td>
                <input type="text" id="directorId">
            </td>
        </tr>
    </table>
    <button id="submit">Add movie</button>
</div>

